# -------------------------------
# Basic Application Configuration
# -------------------------------
# Debug mode (set to True for development, False for production)
DJANGO_DEBUG=True

# Secret key for your Django project (set a unique, random value)
DJANGO_SECRET_KEY=

# Allowed hosts for your Django project (comma-separated values)
DJANGO_ALLOWED_HOSTS=

# The primary domain and port for the application, used for generating absolute URLs and routing.
APP_DOMAIN=
APP_PORT=

# -------------------------------
# CSRF and Session Configuration
# -------------------------------
# Domain settings for CSRF and session cookies
CSRF_COOKIE_DOMAIN=
SESSION_COOKIE_DOMAIN=

# -------------------------------
# CORS Configuration
# -------------------------------
# CORS origin whitelist (comma-separated values)
CORS_ORIGIN_WHITELIST=

# CORS related settings
DJANGO_BASE_BACKEND_URL=
DJANGO_BASE_FRONTEND_URL=

# Whitelisted CORS origins for the project
DJANGO_CORS_ORIGIN_WHITELIST=

# -------------------------------
# Database Configuration
# -------------------------------
# PostgreSQL Database Configuration
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# -------------------------------
# Email Configuration
# -------------------------------
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
# Email Settings (use TLS or SSL for secure email)
EMAIL_USE_TLS=True

# -------------------------------
# Debug Toolbar Configuration
# -------------------------------
# Enable Django Debug Toolbar (set to True to enable)
DEBUG_TOOLBAR_ENABLED=True
SHOW_TOOLBAR_CALLBACK=True

# -------------------------------
# Base URL Configuration
# -------------------------------
# Base URL for image resources (e.g., http://localhost:8000)
BASE_URL=